.secondaryTitle{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 35rem;
    opacity: 0.1;
    position: absolute;
}

.secondaryTitle:hover{
    cursor:default;
}

@media only screen and (max-width: 1000px){
    .secondaryTitle{
        font-size: 25rem;
        transform: translateX(-5rem);
    }
}


@media only screen and (max-width: 800px){
    .secondaryTitle{
        font-size: 20rem;
        transform: translateX(-6rem);
    }
}

@media only screen and (max-width: 600px){
    .secondaryTitle{
        font-size: 15rem;
        transform: translateX(-6rem), rotateZ(50deg);

    }
}