@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.fakeClass{
  --primary-color: #002A4E;
  --secondary-color: #00A6AC;
  --neutral-color: #CCCCCC;
  --accent-color: #FF715B;
  --background-color: #FFFFFF;
}


/* MAIN */

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;

}

/* HERO SECTION */

.heroSection{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 5rem 5rem 5rem;
}

@media only screen and (max-width: 500px){
  .heroSection{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 5rem 5rem 5rem;
  }
}

/* ABOUT SECTION */

.aboutWithTextSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;

}

.aboutWithTextSection > p{
  max-width: 50ch;
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-left: 5rem;
}

.maze{
  font-weight: 700;
}

.amazing{
  font-weight: 700;
}

@media only screen and (max-width: 1060px){

  .aboutWithTextSection{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }

  .aboutWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px){

  .aboutWithTextSection{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .aboutWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-left: 0;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px){

  .aboutWithTextSection{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .aboutWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 2rem;
  }
}



/* STACK SECTION */

.secondaryTitleStack{
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-size: 25rem;
  opacity: 0.1;
  position: absolute;
}

.secondaryTitle:hover{
  cursor:default;
}


.stackSection{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}

.stackIcons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}

.stackIconsFirstRow{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stackIconsSecondRow{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stackIcon{
  transform: scale(4);
  transition: all 0.5s ease-in;
}

.stackIcon:hover{
  transform: scale(5);
  cursor: pointer;
}



@media only screen and (max-width: 1200px){
  .stackSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .secondaryTitleStack{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 20rem;
    opacity: 0.1;
    position: absolute;
  }
  
  .stackIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
  }
  
  .stackIconsFirstRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIconsSecondRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIcon{
    transform: scale(3);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(4);
    cursor: pointer;
  }
  
  .stackWithTextSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 1000px){
  .stackWithTextSection > p{
    
    font-size: 2rem;
  }
}

@media only screen and (max-width: 850px){
  .secondaryTitleStack{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 15rem;
    opacity: 0.1;
    position: absolute;
  }

  .stackSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .stackIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
  }
  
  .stackIconsFirstRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIconsSecondRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIcon{
    transform: scale(2);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(3);
    cursor: pointer;
  }
  
  .stackWithTextSection{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 2rem;
  }

}

@media only screen and (max-width: 650px){
  .secondaryTitleStack{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 10rem;
    opacity: 0.1;
    position: absolute;
  }

  .stackSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .stackIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
  }
  
  .stackIconsFirstRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIconsSecondRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIcon{
    transform: scale(2);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(3);
    cursor: pointer;
  }
  
  .stackWithTextSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 2rem;
  }

}

@media only screen and (max-width: 450px){
  .stackSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .secondaryTitleStack{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 8rem;
    opacity: 0.1;
    position: absolute;
  }
  
  .stackIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
  }
  
  .stackIconsFirstRow{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIconsSecondRow{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIcon{
    transform: scale(1);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(2);
    cursor: pointer;
  }
  

}

@media only screen and (max-width: 350px){
  .stackSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .secondaryTitleStack{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    opacity: 0.1;
    position: absolute;
  }
  
  .stackIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
  }
  
  .stackIconsFirstRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIconsSecondRow{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .stackIcon{
    transform: scale(1);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(2);
    cursor: pointer;
  }
  

}



/* STACK TEXT SECTION */


.stackWithTextSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;

}

.stackWithTextSection > p{
  max-width: 50ch;
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
  margin-right: 5rem;
  text-align: right;
  font-size: 1.2rem;
}

.internship{
  font-weight: 700;
}

.reallyGood{
  font-weight: 600;
}

@media only screen and (max-width: 1000px){
  .stackWithTextSection{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px){
  .stackWithTextSection{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px){
  .stackWithTextSection{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 2rem;
  }
}


@media only screen and (max-width: 350px){

.stackWithTextSection{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.stackWithTextSection > p{
  max-width: 50ch;
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
  margin-right: 0rem;
  text-align: left;
  font-size: 2rem;
}

}

/* CONTACT SECTION */

.contactSection{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}


.secondaryTitleContact{
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-size: 25rem;
  opacity: 0.1;
  position: absolute;
}

.secondaryTitleContact:hover{
  cursor: default;
}

.contactIconsDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: auto;
  flex-wrap: wrap;
}

.contactIcon{
  transform: scale(5);
}

@media only screen and (max-width: 1200px){
  
  .secondaryTitleContact{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 15rem;
    opacity: 0.1;
    position: absolute;
  }
  .contactIcon{
    transform: scale(4);
  }

}

@media only screen and (max-width: 1000px){
  .contactSection{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .secondaryTitleContact{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 12rem;
    opacity: 0.1;
    position: absolute;
  }
  .contactIcon{
    transform: scale(4);
  }

}

@media only screen and (max-width: 700px){
  .contactSection{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .secondaryTitleContact{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 10rem;
    opacity: 0.1;
    position: absolute;
  }
  .contactIcon{
    transform: scale(3);
  }
}

@media only screen and (max-width: 600px){
  .contactSection{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .secondaryTitleContact{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 7rem;
    opacity: 0.1;
    position: absolute;
  }
  .contactIcon{
    transform: scale(2);
  }
}

@media only screen and (max-width: 500px){
  .contactSection{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .secondaryTitleContact{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    opacity: 0.1;
    position: absolute;
  }
  .contactIcon{
    transform: scale(2);
  }
}

@media only screen and (max-width: 350px){
  .contactSection{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .secondaryTitleContact{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    opacity: 0.1;
    position: absolute;
  }
  .contactIcon{
    transform: scale(1);
  }
}


