@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.fakeClass{
  --primary-color: #002A4E;
  --secondary-color: #00A6AC;
  --neutral-color: #CCCCCC;
  --accent-color: #FF715B;
  --background-color: #FFFFFF;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-color);
}

/* HERO SECTION */


.heroSection{
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* ABOUT SECTION */

.aboutWithTextSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.aboutWithTextSection > p{
  max-width: 50ch;
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
  margin-left: 10rem;
  font-size: 1.2rem;
}

.maze{
  font-weight: 700;
}

.amazing{
  font-weight: 700;
}

@media only screen and (max-width: 1060px){

  .aboutWithTextSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin-top: 5rem;
  }

  .aboutWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin: 5rem auto 5rem 5rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 800px){

  .aboutWithTextSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin-top: 5rem;
  }

  .aboutWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin: 5rem auto 5rem 0rem;
    font-size: 1.2rem;
  }
}



/* STACK SECTION */

.stackSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.stackIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.stackIcon{
  transform: scale(5);
  transition: all 0.5s ease-in
}

.stackIcon:hover{
  transform: scale(7);
  cursor: pointer;
}

.stackWithTextSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.stackWithTextSection > p{
  max-width: 50ch;
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
  margin-right: 10rem;
  text-align: right;
  font-size: 1.2rem;
}

.internship{
  font-weight: 700;
}

.reallyGood{
  font-weight: 600;
}

@media only screen and (max-width: 1000px){
  .stackSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .stackIcons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    place-content: center;
    align-items: center;
    align-content: center;

  }
  
  .stackIcon{
    transform: scale(4);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(6);
    cursor: pointer;
  }
  
  .stackWithTextSection{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }
  
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0rem;
    text-align: left;
    font-size: 1.2rem;
  }

}

@media only screen and (max-width: 700px){
  .stackSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .stackIcons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .stackIcon{
    transform: scale(3);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(5);
    cursor: pointer;
  }
  
  .stackWithTextSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }
  
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 10rem;
    text-align: left;
    font-size: 1.2rem;
  }

}


@media only screen and (max-width: 500px){
  .stackSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .stackIcons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 50vh;
    margin: 0 auto 1rem auto;
    border: 1px solid red;
  }
  
  .stackIcon{
    transform: scale(2);
    transition: all 0.5s ease-in
  }
  
  .stackIcon:hover{
    transform: scale(3);
    cursor: pointer;
  }
  
  .stackWithTextSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .stackWithTextSection > p{
    max-width: 50ch;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.5;
    margin-right: 0;
    text-align: left;
    font-size: 1.2rem;
  }

}


/* PROJECTS SECTION */


.projectsSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.projectIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
}

.projectIcon{
  transform: scale(5);
  transition: all 0.5s ease-in;
}

.projectIcon:hover{
  transform: scale(7);
  cursor: pointer;
}

/* CONTACT SECTION */

.contactWithTextSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.contactWithTextSection > p{
  max-width: 50ch;
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
  margin-left: 10rem;
  text-align: left;
  font-size: 1.2rem;

}

.contactSection{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contactIconsDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: auto;
  flex-wrap: wrap;
}

.contactIcon{
  transform: scale(5);
}


