.mainTitle{
    font-family: "ohm-bold", sans-serif;
    font-weight: 700;
    font-size: 12rem;
    text-align: center;
    margin-top: 10rem;

}

@media only screen and (max-width: 1300px){
    .mainTitle{
        margin-top: 10rem;
        font-size: 10rem;
    }
}


@media only screen and (max-width: 900px){
    .mainTitle{
        margin-top: 10rem;
        font-size: 8rem;
    }
}

@media only screen and (max-width: 600px){
    .mainTitle{
        margin-top: 10rem;
        font-size: 5rem;
    }
}

@media only screen and (max-width: 450px){
    .mainTitle{
        margin-top: 10rem;
        font-size: 3rem;
    }
}