@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.entireCard{
    width: 80vw;
    height: 50rem;
/* background-color: var(--neutral-color); */
border-radius: 10px;
padding: 1rem;
margin: 0 auto;
font-family: "Roboto", sans-serif;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.imageContainer{
    max-width: 50%;
    filter: drop-shadow(2px 2px 2px var(--primary-color));
}

.projectImage{
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

.textSide{
    max-width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
}

.projectTitle{
    font-weight: 700;
    font-size: 3rem;
    margin: 1rem 0 2rem 0;

}

.techUsedDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.techLanguage{
    font-size: 2rem;
    display: inline-block;

}

.projectDescription{
    font-size: 1.3rem;
    text-align: left;
    max-width: 60ch;
    margin: 1rem auto;
    line-height: 1.5;
}

.githubIcon{
    font-size: 3rem;
}

.websiteLink{
    font-size: 2rem;
    display: inline-block;
    transition: all 0.5s ease-in;
    text-align: center;
}

.websiteLink:hover{
text-decoration: 5px solid var(--accent-color) underline;
}

.projectLinks{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.buttonDiv{
    width: 100%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projectBtn{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin: 2rem auto;
    transition: all 0.5s ease-in;
}

.projectBtn:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    cursor: pointer;
}

@media only screen and (max-width: 1400px){
    .entireCard{
        width: 80vw;
        height: 60rem;
        /* background-color: var(--neutral-color); */
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
        
        .imageContainer{
            max-width: 60%;
            filter: drop-shadow(2px 2px 2px var(--primary-color));
        }
        
        .projectImage{
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        
        }
        
        .textSide{
            max-width: 60%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 1rem;
        }
        
        .projectTitle{
            font-weight: 700;
            font-size: 2rem;
            margin: 2rem auto 2rem auto;
        
        }
        
        .techUsedDiv{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        
        .techLanguage{
            font-size: 2rem;
            display: inline-block;
        
        }
        
        .projectDescription{
            font-size: 1.3rem;
            text-align: left;
            max-width: 60ch;
            margin: 1rem auto;
            line-height: 1.5;
        }
        
        .githubIcon{
            font-size: 3rem;
        }
        
        .websiteLink{
            font-size: 2rem;
            display: inline-block;
            transition: all 0.5s ease-in;
        }
       
        
        .projectLinks{
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 1rem auto;
        }
        
        .buttonDiv{
            width: 100%;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
        .projectBtn{
            width: 100%;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: var(--background-color);
            margin: 2rem auto;
            transition: all 0.5s ease-in;
        }
}


@media only screen and (max-width: 1000px){
    .entireCard{
        width: 95vw;
        height: 60rem;
        /* background-color: var(--neutral-color); */
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
        
        .imageContainer{
            max-width: 70%;
            filter: drop-shadow(2px 2px 2px var(--primary-color));
        }
        
        .projectImage{
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        
        }
        
        .textSide{
            max-width: 70%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 1rem;
        }
        
        .projectTitle{
            font-weight: 700;
            font-size: 2rem;
            margin: 2rem auto 2rem auto;
        
        }
        
        .techUsedDiv{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        
        .techLanguage{
            font-size: 2rem;
            display: inline-block;
        
        }
        
        .projectDescription{
            font-size: 1.3rem;
            text-align: left;
            max-width: 60ch;
            margin: 1rem auto;
            line-height: 1.5;
        }
        
        .githubIcon{
            font-size: 3rem;
        }
        
        .websiteLink{
            font-size: 1.5rem;
            display: inline-block;
            transition: all 0.5s ease-in;
        }
       
        
        .projectLinks{
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 1rem auto;
        }
        
        .buttonDiv{
            width: 100%;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
        .projectBtn{
            width: 100%;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: var(--background-color);
            margin: 2rem auto;
            transition: all 0.5s ease-in;
        }
}

@media only screen and (max-width: 700px){
    .entireCard{
        width: 95vw;
        height: 60rem;
        /* background-color: var(--neutral-color); */
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
        
        .imageContainer{
            max-width: 100%;
            filter: drop-shadow(2px 2px 2px var(--primary-color));
        }
        
        .projectImage{
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        
        }
        
        .textSide{
            max-width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 1rem;
        }
        
        .projectTitle{
            font-weight: 700;
            font-size: 2rem;
            margin: 0rem auto 2rem auto;
        
        }
        
        .techUsedDiv{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        
        .techLanguage{
            font-size: 2rem;
            display: inline-block;
        
        }
        
        .projectDescription{
            font-size: 1.3rem;
            text-align: left;
            max-width: 60ch;
            margin: 1rem auto;
            line-height: 1.5;
        }
        
        .githubIcon{
            font-size: 2rem;
        }
        
        .websiteLink{
            font-size: 1rem;
            display: inline-block;
            transition: all 0.5s ease-in;
        }
       
        
        .projectLinks{
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 1rem auto;
        }
        
        .buttonDiv{
            width: 100%;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
        .projectBtn{
            width: 100%;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: var(--background-color);
            margin: 2rem auto;
            transition: all 0.5s ease-in;
        }
}

@media only screen and (max-width: 500px){
    .entireCard{
        width: 95vw;
        height: auto;
        /* background-color: var(--neutral-color); */
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
        
        .imageContainer{
            max-width: 100%;
            filter: drop-shadow(2px 2px 2px var(--primary-color));

        }
        
        .projectImage{
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        
        }
        
        .textSide{
            max-width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 1rem;
        }
        
        .projectTitle{
            font-weight: 700;
            font-size: 2rem;
            margin: 0rem auto 2rem auto;
        
        }
        
        .techUsedDiv{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        
        .techLanguage{
            font-size: 2rem;
            display: inline-block;
        
        }
        
        .projectDescription{
            font-size: 1.5rem;
            text-align: left;
            max-width: 100%;
            margin: 1rem auto;
            line-height: 1.5;
        }
        
        .githubIcon{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        
        .websiteLink{
            font-size: 1rem;
            display: inline-block;
            transition: all 0.5s ease-in;
        }
       
        
        .projectLinks{
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 1rem auto;
        }
        
        .buttonDiv{
            width: 100%;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
        .projectBtn{
            width: 100%;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: var(--background-color);
            margin: 2rem auto;
            transition: all 0.5s ease-in;
        }
}


@media only screen and (max-width: 350px){
    .entireCard{
        width: 100vw;
        height: auto;
        /* background-color: var(--neutral-color); */
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
        
        .imageContainer{
            max-width: 100%;
            filter: drop-shadow(2px 2px 2px var(--primary-color));
        }
        
        .projectImage{
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        
        }
        
        .textSide{
            max-width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 1rem;
        }
        
        .projectTitle{
            font-weight: 700;
            font-size: 2rem;
            margin: 0rem auto 2rem auto;
        
        }
        
        .techUsedDiv{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        
        .techLanguage{
            font-size: 2rem;
            display: inline-block;
        
        }
        
        .projectDescription{
            font-size: 1rem;
            text-align: left;
            max-width: 100%;
            margin: 1rem auto;
            line-height: 1.5;
        }
        
        .githubIcon{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        
        .websiteLink{
            font-size: 1rem;
            display: inline-block;
            transition: all 0.5s ease-in;
        }
       
        
        .projectLinks{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 1rem auto;
        }
        
        .buttonDiv{
            width: 100%;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
        .projectBtn{
            width: 100%;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: var(--background-color);
            margin: 2rem auto;
            transition: all 0.5s ease-in;
        }
}

